<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-title>Update owner</mat-card-title>
    <form [formGroup]="ownerForm" autocomplete="off" novalidate (ngSubmit)="updateOwner(ownerForm.value)" fxLayout="column wrap"
      fxLayoutAlign="center center" fxLayoutGap="10px">
      <mat-card-content>

        <mat-form-field>
          <input matInput type="text" placeholder="Owner's name" formControlName="name" id="name">
          <mat-hint align="end">Not more then 60 characters long.</mat-hint>
          <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
          <mat-error *ngIf="hasError('name', 'maxlength')">You have more than 60 characters</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Choose a date of birth" formControlName="dateOfBirth" id="dateOfBirth"
            readonly (click)="picker.open()">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" placeholder="Owner's address" formControlName="address">
          <mat-hint align="end">Not more then 100 characters long.</mat-hint>
          <mat-error *ngIf="hasError('address', 'required')">Address is required</mat-error>
          <mat-error *ngIf="hasError('address', 'maxlength')">You have more than 100 characters</mat-error>
        </mat-form-field>

      </mat-card-content>
      <mat-card-actions align="center">
        <button mat-raised-button color="primary" [disabled]="!ownerForm.valid">Update</button>
        <button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
      </mat-card-actions>
    </form>
  </mat-card>
</section>