section div p{
    color: #1466d0;
    font-size: 30px;
    text-shadow: 1px 1px 3px grey;
    margin: 30px 0;
}

section div + p{
    color: #1466d0;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 20px;
}

mat-tab-group {
    text-align: center;
}

mat-tab-group p {
    padding-top: 20px;
}