<section fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card fxFlex="500px" fxFlex.xs="100%">
        <mat-card-title>Details for the clicked owner</mat-card-title>
        <mat-card-content>
          <div fxLayout="column wrap" fxLayoutGap="40px">
            <div fxLayout="row wrap" fxFlex>
              <div fxFlex><strong>Owner's name:</strong></div>
              <div fxFlex>{{owner?.name}}</div>
            </div>
      
            <div fxLayout="row wrap" fxFlex>
              <div fxFlex><strong>Date of birth:</strong></div>
              <div fxFlex>{{owner?.dateOfBirth | date}}</div>
            </div>
      
            <div fxLayout="row wrap" fxFlex *ngIf='owner?.accounts.length <= 2; else advancedUser'>
              <div fxFlex><strong>Type of user:</strong></div>
              <div fxFlex class="beginner-color">Beginner user.</div>
            </div>
            <ng-template #advancedUser>
              <div fxLayout="row wrap" fxFlex>
                <div fxFlex><strong>Type of user:</strong></div>
                <div fxFlex class="advanced-color">Advanced user</div>
              </div>
            </ng-template>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <mat-form-field>
            <mat-select placeholder="Show accounts" (selectionChange)="onChange($event)">
              <mat-option *ngFor="let opt of selectOptions" [value]="opt.value">
                {{opt.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card-actions>
      </mat-card>
</section>
